{% extends 'base.html' %}
{% block about_active %}active{% endblock %}
{% block body %}
<div class="container">
  <h3>About this Project.</h3>
  <p>This project illustrates the objectives of developing an application that exhibits the variation in conductivity, depth and temperature across the Tasman Sea. The scope of this project ranges from the research purpose to the evaluation of variations underwater. </p>

<p>The students of Federation University undertaking Master Of Technology are supposed to undertake this project for ITECH 7415 (Masters Project) course. The project took off forming a team consisting four members and working under a business client and a project supervisor.</p>

<p>This project is solely related to the development of an Information System where underwater communication techniques can be observed. The interactive applet with database is integrated in the website, where the associated images and graphs are modelled in graphs.</p>

<p>Features for admin include '.csv' file upload for whole database update or singular point of data modification.</p>

  <p><b>Client</b></p>
  <p>DitchTech Trans-Tasman Technology Solutions</p>
  <p>Level 2, 309 George Street, Sydney NSW 2000, AUSTRALIA</p>
  <p><a href = "mailto: info@ditchtech.com.au">info@ditchtech.com.au</a></p>
  
  <p><b>Supervisor</b></p>
  <p>Mr. Anchal Shrestha</p>
  <p><a href = "mailto: ashrestha@academic.mit.edu.au">ashrestha@academic.mit.edu.au</a></p>

  <p><b>Team Members</b></p>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Student ID</th>
      <th scope="col">Email</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Akash Deep Basnet</th>
      <td>30369794</td>
      <td>akashdeepbasnet@gmail.com</td>
    </tr>
    <tr>
      <th scope="row">Gaurav Kunwar</th>
      <td>30370124</td>
      <td>gaurabey@gmail.com</td>
    </tr>
    <tr>
      <th scope="row">Rajiv Parajuli</th>
      <td>30366479</td>
      <td>raziv.parazuli@gmail.com</td>
    </tr>
    <tr>
      <th scope="row">Sharad Malla</th>
      <td>30371167</td>
      <td>mallasharad02@gmail.com</td>
    </tr>
  </tbody>
</table>
</div>
{% endblock %}