{% extends 'base.html' %}
{% block chart_active %}active{% endblock %}
{% block body %}
<div class="container">
<canvas id="chart" width="10" height="4"></canvas>                      

<script type="text/javascript">  
     var a = document.getElementById('chart').getContext('2d');
     var myLineChart = new Chart(a, {
               type: 'line',
               data: {
                   labels:[{% for i in data %}{{ i.depth }},{% endfor %}],
                   datasets: [
                   {
                        label:'Temperature (°C) X Height (m)',
                        fill: false,
                  backgroundColor: 'rgb(255, 99, 132)',
                  borderColor: 'rgb(255, 99, 132)',
                        data: [{% for i in data %}{{ i.temperature }},{% endfor %}]
                    },
                             ]
                      },
               options:{
                   scales: {
                       xAxes: [{
                        scaleLabel: {
                          display: true,
                          labelString: 'Height (m)'
                        }
                              }],
                       yAxes: [{
                          display:true,
                           ticks: {
                               beginAtZero:true
                                   },
                                       scaleLabel: {
                                              display: true,
                                              labelString: 'Temperature (°C)'
                                            }  
                               }]
                            }
                        }
                      });
</script>
</div>
{% include 'footer.html' %}
{% endblock %}