<div class="row">
<footer>
	<br>
  <div class="jumbotron text-center bg-info" >
  <p><a href="https://www.bco-dmo.org/dataset/818958" class = "footer">Data Source</a>: Conductivity, temperature, depth and salinity data from the TBeam Mooring A1 deployed in 4768-m of water in the Tasman Sea between January 10 and February 28, 2015.</p>
  <div class="container">
  <p><b>*Note</b>: The dataset is in matlab format with over 70,000 data points. Since the load would tax our CPU while reducing the processing speed significantly, for the sake of simplicity we have considered about 14 varying depth points such that the original nature of graph is intact regardless of time and location.</p>
  </div>
	</div>
</footer>
	</div>