{% extends 'base.html' %}
{% load static %}
{% block body %}
<div class="container">
  <h2>Welcome!</h2>


  <div class="row">
  	<div class="col-5"><br>
  	<h3>Introduction</h3>
  	<p>This web app aims to model Temperature, Conductivity and Salinity data for varying depths across Tasman Sea in graphical format.</p>
  	<h3>Background</h3>
  	<p>Seawater conductivity means the conductive capacity of the ocean. According to the previous studies, variation in seawater conductivity affects the electromagnetic attenuation properties of the seawater, which has a direct impact on communication and navigation in the ocean. Additionally, it also aids in the measurement of salinity.</p>
  	<p>According to the recent studies, distribution of seawater conductivity is linked with temperature, depth and salinity. It is widely known that conductivity corresponds to salinity, and past studies have revealed how temperature influences conductivity underwater.</p>
  	</div>
  	<div class="col-7"><img class="img-fluid" src="{%  static 'tasman.png' %}" alt="Tasman Sea" width = "800">Source: Google Maps</div>

  </div>
<br>
<div class="row">
  <div>
  	<h3>Variations across the Tasman Sea</h3>
  	<p>Electrical conductivity decreases with the increase in depth at first but slowly increases from about 2000 meters to the ocean floor. The seawater conductivity at various depths of the Tasman Sea ranges between 3 S/m and 6 S/m. The value of conductivity is maximum at shallow water between 10 and 250 m, while the value is minimum in the mid-point between 1500 and 2500 m. The conductivity of seawater increases with depth initially and then reduces significantly between 50 m and 500 m. The conductivity values of seawater then increase slowly with respect to depth from nearly 2000 meters to the sea floor. </p>

  	<p>Current studies are drawn towards seawater salinity rather than conductivity. To analyse the variations in conductivity and salinity, we compared the seawater conductivity-depth relationship against the salinity-depth relationship on a line graph. The graphs thus generated show that the vertical distribution of conductivity is less affected by geographic location compared to salinity. On the other hand, the vertical distribution of salinity is affected by geographical locations. </p>

  	<p>The results imply that seawater salinity increases while temperature decreases with depth in the proximity of the negligible seawater conductivity. The seawater conductivity can be increased by increasing pressure and salinity, while the reduction in temperature has the reverse impact. Hence, the noticeable increase in the conductivity of Tasman Sea and the area of the minimum conductivity can be credited to the combined effects of temperature, pressure, and salinity. </p>
  </div>
</div>
</div>

{% endblock %}